* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #ffffff;
}

.navbar {
    padding: 15px 0;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 32px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links li {
    font-weight: 600;
    cursor: pointer;
}


.btn-primary {
    background: #30b868;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.btn-glass {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.btn-glass img {
    width: 14px;
}


.hero {
    height: 450px;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;

    background: white;
    color: #30b868;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero h1 span {
    color: #30b868;
}

.hero p {
    font-size: 14px;
    margin-bottom: 25px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.features {
    padding: 80px 20px;
    text-align: center;
}

.features h2 {
    font-size: 32px;
}

.subtitle {
    color: #666;
    margin-top: 10px;
}

.feature-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
}

.feature {
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.icon {
    width: 50px;
    height: 50px;
    background: #ff5a5a;
    color: white;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}


.cta {
    background: #f7f7f4;
    padding: 60px 20px;
    text-align: center;
}

.cta h2 {
    margin-bottom: 10px;
}


.second-brain {
    padding: 80px 20px;

}

.text-small {
    font-size: 14px;
    color: #43ff64d9;
    font-weight: 600;
    margin-bottom: 10px;
}


.brain-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.brain-visual img {
    width: 500px;
    max-width: 100%;

}

.brain-text {
    flex: 1;
}

.brain-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #081c2f;
}

.brain-text p {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
}

.brain-text ul {
    list-style: none;
    padding-left: 0;
}

.brain-text ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 15px;
    color: #333;
}

.brain-text ul li img {
    width: 20px;
    height: 20px;
}


.footer {
    background: #081c2f;
    color: white;
    text-align: center;
    padding: 20px;

}

.class-join {
    margin-bottom: 20px;
    color: #081c2f;
    font-size: 16px;
}

.small-text {
    font-weight: 200;
    margin-top: 10px;
    font-size: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.footer-img {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}

.footer-container {

    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;

}

.box {

    width: 100%;
    height: 1px;
    background-color: #a4a0a0;
    margin-top: 100px;
    margin-bottom: 10px;
}